includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
  level: 8
  paths:
    - src
  tmpDir: var/phpstan

  symfony:
    containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

  reportUnmatchedIgnoredErrors: true
  # (opcjonalnie) mniej „upierdliwe” traktowanie PHPDoc:
  # treatPhpDocTypesAsCertain: false
